/*默认样式*/
*{margin: 0; padding: 0; font-family: "宋体"; font-size: 14px;text-decoration: none;}
a,
a:hover,
a:visited{
	color: #3C3C3C;
}
/*公共宽*/
.gwidth{
	width: 1200px;
	margin: 0 auto;
}
.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
/*去除ul li 样式*/
ul li{
	list-style: none;
	
}
/*红色字体*/
.red{
	color:orangered;
}
/*新品图标*/
.new{
	background: url(../images/new.gif) no-repeat top right;
}
/*热卖图标*/
.hot{
	background: url(../images/hot.gif) no-repeat top right;
}

/*导航*/
.nav{
	background: #f5f5f5; 
	line-height: 36px; 
	height: 36px;

}
.nav ul{
	float: right;
}
.nav li{
	display: inline-block;
	text-align: center;
	width: 50px;
	padding-right: 30px;
	background: url(../images/nav_bg.png) no-repeat right center;
	position: relative;
}
.nav li:nth-last-of-type(2),
.nav li:nth-last-of-type(3){
	background:none;
}
.nav div a{
	font-size: 12px;
}
/*购物车*/
.nav .gwc{
	width: 51px;
	background: url(../images/gwc.png) no-repeat 2px center,url(../images/nav_bg.png) no-repeat right center;
}
/*收藏夹*/
.nav .sc{
	background: url(../images/sc.png) no-repeat 2px center,url(../images/nav_bg.png) no-repeat right center;
}
/*导航*/
.nav .dh{	
	background: url(../images/dh.png) no-repeat 2px center,url(../images/nav_bg.png) no-repeat right center;
}
/*导航栏 购物车，收藏夹，导航*/
.nav .gwc,
.nav .sc,
.nav .dh{
	padding-left: 20px;
}
/*导航下拉特殊设置*/
.xiala1_f:hover,
.xiala2_f:hover,
.xiala3_f:hover,
.xiala4_f:hover{
	background: url(../images/nav_bg.png) no-repeat right center , #FFFFFF;
	border: 1px solid #EEEEEE;
	width: 48px;
	border-top: 0;
	border-bottom: 0;
}
/*购物车鼠标悬浮*/
.xiala2_f:hover{
	width: 49px;
	background: url(../images/gwc.png) no-repeat 1px center,url(../images/nav_bg.png) no-repeat right center ,#FFFFFF;
}
/*收藏鼠标悬浮*/
.xiala3_f:hover{
	background: url(../images/sc.png) no-repeat 1px center,url(../images/nav_bg.png) no-repeat right center ,#FFFFFF;
}
/*导航鼠标悬浮*/
.xiala4_f:hover{
	background: url(../images/dh.png) no-repeat 1px center,url(../images/nav_bg.png) no-repeat right center ,#FFFFFF;
}
/*鼠标悬浮*/
.xiala1_f:hover ul,
.xiala2_f:hover div,
.xiala3_f:hover ul,
.xiala4_f:hover div{
	display: block;
}
/*下拉列表式*/
.xiala1,
.xiala3{
	position: absolute;
	z-index: 1;
	border: 1px solid #EEEEEE;
	border-top: 0;
	margin-left: -1px;
	font-size: 12px;
	background:  #FFFFFF;
	text-align: center;
	display: none;
}
/*导航 我的淘宝下拉*/
.nav li .xiala1 li{
	background: none;
	width: 78px;
	margin: 0;
	padding: 0;
	line-height: 34px;
	height: 36px;
	
}

.nav li ul li:hover{
	background:#f5f5f5;
}
/*导航 收藏夹下拉 盒子式*/
.xiala2{
	display: none;
	position: absolute;
	left: -1px;
	z-index: 1;
	width: 290px;
	height: 40px;
	border: 1px solid #EEEEEE;
	border-top: 0;
	background: #FFFFFF;
	padding: 18px 20px 0;
}
.xiala2 p{
	font-size: 12px;
	float: left;
}
.xiala2 div:nth-of-type(1){
	width: 104px;
	height: 25px;
	background: #FF4300;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	float: left;
}
.xiala2 div a{
	color: #FFFFFF;;
}
/*收藏夹下拉*/
.xiala3{
	margin-left: -20px;
	width: 97px;
	
}
.xiala3 li{
	width: 97px;
	padding: 0;
	background: none;
}
/*网址导航下拉*/
.xiala4{
	display: none;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-top: 0;
	position: absolute;
	left: -1101px;
	z-index: 1;
}
.xiala4 ul{
	width: 1199px;
	height: 170px;
	padding: 20px 0;
	margin-left:-1px ;
}
.nav li .xiala4 ul li{
	background: #FFFFFF;
	width: 268px;
	height: 170px;
	float: left;
	margin: 0;
	padding: 0;
	padding:0 10px;
	border-left: 1px solid #EEEEEE;

	
}
.xiala4 ul li dt{
	font: 16px bold;
	line-height: 36px;
	text-align: left;
}
.xiala4 ul li:nth-of-type(1) dt{
	color:#FF5500;

}
.xiala4 ul li:nth-of-type(2) dt{
	color:#A7BE68;

}
.xiala4 ul li:nth-of-type(3) dt{
	color:#FA447F;

}
.xiala4 ul li:nth-of-type(4) dt{
	color:#55A1E5;
}
.xiala4 ul li dd{
	float: left;
	font-size: 12px;
	display: inline-block;
	width: 64px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
.xiala4 ul li dd:hover{
	background: #FF5500;
	border-radius:4px ;
	color: #FFFFFF;
}
/*logo*/
.top{
	margin-top: 44px;
}
.logo{
	width: 141px;
	height: 58px;
	background: url(../images/logo.png) no-repeat;
	margin-right: 108px;
	float: left;
}
/*搜索栏*/
.search{
	float: left;
}
/*搜索栏左侧*/
.form div{
	background: #FF4400;
	height: 45px;

}
.form a,.form div{
	float: left;
}
/*宝贝店铺选项*/
.search .form div a:nth-of-type(1){
	display: inline-block;
	text-align: center;
	line-height:39px ;
	width: 74px;
	height: 39px;
	line-height: 45px;
	margin: 3px 0 0 3px;
	border: 0px;
	background: #F5F5F5 url(../images/nav_bg.png) no-repeat 60px 20px;
	float: left;
	border-right: 1px solid #E5E5E5;
}
/*搜索按钮*/
.form div a:nth-last-of-type(1){
	font-size: 24px;
	color: #FFFFFF;
	line-height: 45px;
	width: 100px;
	margin: 0;
}
/*文本框*/
.form input{
	border: 0px;
	width: 472px;
	height: 39px;
	margin: 3px 0 0 0;
	background: url(../images/ss.png) no-repeat 10px center , url(../images/maike.png) no-repeat 480px center,#FFFFFF; 
	padding-left: 30px;
	float: left;
	color:#9B9B9B;
	font-size: 12px;
}
.form a{

	display: inline-block;
	width: 54px;
	height: 37px;
	text-align: center;
	font-size: 12px;
	margin: 8px 90px 0 0;
}

/*搜索栏下的搜索热点*/
.search ul {
	margin-top: 5px;
}
.search ul li{
	float: left;
	font-size: 12px;
	line-height: 20px;
	margin-left: 2px;
}
/*最后一个“更多”*/
.search ul li:nth-last-of-type(1){
	display: inline-block;
	width: 40px;
	height: 20px;
	border: 1px solid #CCCCCC;
	text-align: center;
}
/*二维码*/
.code div{
	float: left;
}
.code div:nth-of-type(1){
	margin: 0 -1px 0 0;
}
/*淘宝特色服务*/
.tese{
	float: left;
	margin-right: 10px;
}
.tese_t{
	width: 175px;
	height: 40px;
	background: #FF4400;
	color: #FFFFFF;
	line-height: 40px;
	padding-left: 14px;
	font-size: 16px;
	font-weight: bold;
}
.tese ul{
	width: 167px;
	height: 489px;
	border: 1px solid #CCCCCC;
	border-top: 0px;
	padding: 0 10px;
	
}
.tese ul li{
	padding: 10px 0;
	width: 172px;
	border-bottom: 1px solid #CCCCCC;
	
}
.tese li dl dt{
	padding-left: 40px;	
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.tese li:nth-of-type(1) dl dt{
	background: url(../images/tsfw1.png) no-repeat 10px 4px;
}
.tese li:nth-of-type(2) dl dt{
	background: url(../images/tsfw2.gif) no-repeat 10px 4PX;
}
.tese li:nth-of-type(3) dl dt{
	background: url(../images/tsfw3.gif) no-repeat 10px 4PX;
}
.tese li:nth-of-type(4) dl dt{
	background: url(../images/tsfw4.gif) no-repeat 10px 4PX ;
}
.tese dd{
	float: left;
	padding-right: 10px;
	margin-right: 4px;;
	font-size: 12px;
	line-height: 20px;
}
/*banner导航*/















.banner_nav{
	float: left;
	margin-bottom: 10px;
}
.banner_nav ul{
	height: 40px;
	width: 1000px;
	border-bottom:2px solid  #FF4300;
}
.banner_nav ul li{
	float: left;
	font-weight:bold;
	margin: 0 15px;
	font-size: 14px;
	line-height: 40px;
}
.banner_nav ul li:nth-of-type(1),
.banner_nav ul li:nth-of-type(2),
.banner_nav ul li:nth-of-type(3){
	margin: 0 20px;
	font-size: 16px;
	line-height: 40px;
	color:#FF4300;	
}
.banner_nav ul li:nth-of-type(3){
	margin-right: 66px;
}
.banner_nav ul li:nth-last-of-type(1){
	font-size: 12px;
	margin-right: 0px;
	float: right;
}
/*banner内容区*/
.banner_content{
	width: 1000px;
	float: left;
}
.banner_left{
	width: 691px;
	float: left;
}
.banner_left div,
.banner_left ul li{
	float: left;
}

/*********************************轮播图代码**********************************/
.lbt{
	width: 3120px;
	position: absolute;
	left:0;
	transition: 0.8s linear; 
}
.lbt li{
	float: left;
}



/*轮播图内容区*/
.banner1{
	width: 520px;
	height: 280px;
	position: relative;
	overflow: hidden;
}
.banner2{
	width: 521px;
	height: 199px;
	position: relative;
	overflow: hidden;
}
/*轮播图按钮*/

.banner1 ul:nth-of-type(2),
.banner2 ul:nth-of-type(2){
	position: absolute;
	left: 233px;bottom: 15px;
}

.anniu_left{
	position: absolute;
	left: 0;top:40%;
	background: url(../images/left_btn.png) no-repeat ;
}
.anniu_left:hover{
	background: url(../images/left_btn.png) no-repeat,rgba(0,0,0,0.8) ;
}
.anniu_right{
	position: absolute;
	right: 0;top:40%;
	background: url(../images/right_btn.png) no-repeat ;
}
.anniu_right:hover{
	background: url(../images/right_btn.png) no-repeat,rgba(0,0,0,0.8) ;
}
.banner1 ul:nth-of-type(2) li,
.banner2 ul:nth-of-type(2) li{
	width: 6px;
	height: 6px;
	background: #B7B7B7;
	border:1px solid #B7B7B7;
	border-radius: 50%;
	margin-left:4px ;

}
#orange{
	background:#FF4300 ;
	width: 6px;
	height: 6px;
	border:1px solid #FF4300;
	border-radius: 50%;
	margin-left:4px ;
}
.anniu_right,
.anniu_left{
	width: 40px;
	height: 40px;
	border:0;
	border-radius: 0;
}

/***********************************************************************/

/*右侧内容*/
.banner_right{
	float: left;
	margin-left:10px ;
}
/*公告选项卡*/
.gonggao ul{
	width: 295px;
	height: 26px;
	border: 1px solid #CCCCCC;

}
.gonggao li{
	float: left;
	width: 59px;
	height: 26px;
	text-align: center;
	line-height: 28px;
	background: #F7F7F7;
}
/*公告内容*/
.gonggao_nr{
	width: 295px;
	height: 58px;
	border:1px solid #CCCCCC;
	margin-top: -1px;
}
.gonggao_nr li{
	font-size: 12px;
	width: 132px;
	margin-left: 10px;
	float: left;
	line-height: 29px;
}
/*用户信息*/
.yhxx{
	width: 280px;
	height: 112px;
	border:1px solid #CCCCCC;
	margin-top: -1px;
	background: url(../images/hibg.fw.png) no-repeat right top;
	padding: 4px 0 0 15px;
}
.toux{
	width: 60px;
	height: 60px;
	background: url(../images/touxiang.png) no-repeat;
	float: left;
	margin-bottom: 10px;
}
.yhxx .p{
	float: left;
	padding-left: 10px;
	width: 198px;
	height: 24px;
	font-size: 12px;
	line-height: 24px;
}
.hy ,
.lq{
	display:inline-block;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	color:#F45732;
	height: 28px;
	background: #FFEFE7;
	border:1px solid #FFEFE7;
	border-radius: 4px;
}
.hy {
	width: 74px;
}
.lq{
	width: 90px;
	padding-left: 18px;
	background: url(../images/jinbi.png) no-repeat 8px center, #FFEFE7;
	margin-left: 10px;
}
.yhxx input{
	width: 75px;
	height: 35px;
	background: #FF4300;
	border: 0px;
	color: #FFFFFF;
}
.yhxx input:nth-of-type(1){
	width: 100px;
	padding-left: 25px;
	background: url(../images/denglu.png) no-repeat 20px center #FF4300; ;
}
/*便民服务*/
.bmfw{
	width: 282px;
	height: 283px;
	margin-top: -1px;
	padding-left: 16px;
	background: #F4F4F4;
}
.bmfw dt{
	font: 14px bold;
	line-height: 42px;
}
.bmfw dd{
	float: left;
	width: 56px;
	height: 23px;
	border: 1px solid #CCCCCC;
	margin: 0 10px 10px 0;
	font:12px;
	color:#6B6B6B;
	text-align: center;
	padding-top: 40px;
}
.bmfw dd:nth-of-type(1){
	background: url(../images/huafei.fw.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(2){
	background: url(../images/youxi.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(3){
	background: url(../images/lvxing.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(4){
	background: url(../images/banxian.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(5){
	background: url(../images/cp.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(6){
	background: url(../images/dy.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(7){
	background: url(../images/wm.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(8){
	background: url(../images/lc.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(9){
	background: url(../images/dzs.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(10){
	background: url(../images/yinyue.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(11){
	background: url(../images/sd.png) no-repeat center 10px;
}
.bmfw dd:nth-of-type(12){
	background: url(../images/qd.png) no-repeat center 16px;
}